* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-color: #303235;
    align-items: center;
    text-align: center;
    color: center;
    overflow-x: hidden;
    overflow-y: hidden;
    overflow: hidden;
    font-size: medium;
}

h1 {
    margin: 30px auto;
    font-family: 'Courier New', Courier, monospace;
    color: #ccc;
    font-weight: bold;
    text-align: center;
    font-weight: bold;
    padding-top: 50%;
    left: 15%;
    bottom: 59%;
    position: absolute;
}

.monkeyType {
    position: absolute;
    bottom: 40%;
    height: 230px;
    left: 8%;
    top: 50%;
}

.balloon {
    position: absolute;
    width: 80px;
    height: 90px;
    border-radius: 50%;
    background-color: rgba(192, 1, 5, 0.2);
    right: 255px;
    animation: move-up 5s ease-out .5s backwards;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

.balloon::before {
    position: absolute;
    content: '';
    width: 2px;
    height: 60px;
    background-color: white;
    top: 80px;
    left: 40px;
}


.balloon::after {
    position: absolute;
    content: '';
    border-bottom: 12px solid rgba(185, 62, 62, 0.8);
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    top: 79px;
    left: 31px;
}

.balloon:nth-child(2) {
    left: 25px;
    background-color: purple;
    animation-duration: 4s;

}
.balloon:nth-child(2)::after {
    border-bottom: 12px solid purple;

}

.balloon:nth-child(3) {
    left: 80px;
    background-color: rgba(255, 255, 0, 0.5);
    animation-duration: 7.2s;

}
.balloon:nth-child(3)::after {
    border-bottom: 12px solid yellow;

}

.balloon:nth-child(4) {
    left: 130px;
    background-color: rgba(0, 190, 25, 0.5);
    animation-duration: 6s;

}
.balloon:nth-child(4)::after {
    border-bottom: 12px solid green;

}

.balloon:nth-child(5) {
    left: 220px;
    background-color: rgba(0, 66, 190, 0.438);
    animation-duration: 4.6s;

}
.balloon:nth-child(5)::after {
    border-bottom: 12px solid blue;

}

.balloon:nth-child(6) {
    left: 180px;
    background-color: rgba(190, 130, 0, 0.651);
    animation-duration: 7.7s;

}
.balloon:nth-child(6)::after {
    border-bottom: 12px solid orange;

}

.balloon:nth-child(7) {
    left: 255px;
    background-color: rgba(190, 0, 190, 0.651);
    animation-duration: 4s;

}
.balloon:nth-child(7)::after {
    border-bottom: 12px solid purple;

}

.balloon:nth-child(8) {
    left: 270px;
    background-color: rgba(245, 160, 227, 0.452);
    animation-duration: 2.8s;

}
.balloon:nth-child(8)::after {
    border-bottom: 12px solid pink;

}

.balloon:nth-child(9) {
    left: 110px;
    background-color: rgba(25, 5, 82, 0.51);
    animation-duration: 6.2s;

}
.balloon:nth-child(9)::after {
    border-bottom: 12px solid black;

}

.balloon:nth-child(10) {
    left: 40px;
    background-color: rgba(137, 192, 92, 0.452);
    animation-duration: 5.5s;

}
.balloon:nth-child(10)::after {
    border-bottom: 12px solid green;

}

.balloon:nth-child(11) {
    left: 295px;
    background-color: purple;
    animation-duration: 7s;

}
.balloon:nth-child(11)::after {
    border-bottom: 12px solid purple;

}

.balloon:nth-child(12) {
    left: 380px;
    background-color: rgba(255, 255, 0, 0.5);
    animation-duration: 4s;

}
.balloon:nth-child(12)::after {
    border-bottom: 12px solid yellow;

}

.balloon:nth-child(13) {
    left: 400px;
    background-color: rgba(0, 190, 25, 0.5);
    animation-duration: 2s;

}
.balloon:nth-child(13)::after {
    border-bottom: 12px solid green;

}

.balloon:nth-child(14) {
    left: 450px;
    background-color: rgba(0, 66, 190, 0.438);
    animation-duration: 9s;

}
.balloon:nth-child(14)::after {
    border-bottom: 12px solid blue;

}


.balloon:nth-child(15) {
    left: 340px;
    background-color: rgba(190, 130, 0, 0.651);
    animation-duration: 3s;

}
.balloon:nth-child(15)::after {
    border-bottom: 12px solid orange;

}

.balloon:nth-child(16) {
    left: 552px;
    background-color: rgba(190, 0, 190, 0.651);
    animation-duration: 6.2s;

}
.balloon:nth-child(16)::after {
    border-bottom: 12px solid purple;

}

.balloon:nth-child(17) {
    left: 580px;
    background-color: rgba(245, 160, 227, 0.51);
    animation-duration: 4.3s;

}
.balloon:nth-child(17)::after {
    border-bottom: 12px solid pink;

}

.balloon:nth-child(18) {
    left: 428px;
    background-color: rgba(25, 5, 82, 0.51);
    animation-duration: 3.3s;

}
.balloon:nth-child(18)::after {
    border-bottom: 12px solid black;

}

.balloon:nth-child(19) {
    left: 280px;
    background-color: rgba(137, 192, 92, 0.60);
    animation-duration: 7.1s;

}
.balloon:nth-child(19)::after {
    border-bottom: 12px solid green;

}

.balloon:nth-child(20) {
    left: 295px;
    background-color: purple;
    animation-duration: 7s;

}
.balloon:nth-child(20)::after {
    border-bottom: 12px solid purple;

}

.balloon:nth-child(21) {
    left: 450px;
    background-color: rgba(255, 255, 0, 0.7);
    animation-duration: 6.123s;

}
.balloon:nth-child(21)::after {
    border-bottom: 12px solid yellow;

}

.balloon:nth-child(22) {
    left: 490px;
    background-color: rgba(0, 190, 25, 0.55);
    animation-duration: 6s;

}
.balloon:nth-child(22)::after {
    border-bottom: 12px solid green;

}

.balloon:nth-child(23) {
    left: 550px;
    background-color: rgba(0, 66, 190, 0.453);
    animation-duration: 3s;

}
.balloon:nth-child(23)::after {
    border-bottom: 12px solid blue;

}


.balloon:nth-child(24) {
    left: 410px;
    background-color: rgba(190, 130, 0, 0.651);
    animation-duration: 10s;

}
.balloon:nth-child(24)::after {
    border-bottom: 12px solid orange;

}

.balloon:nth-child(25) {
    left: 570px;
    background-color: rgba(190, 0, 190, 0.651);
    animation-duration: 4.4s;

}
.balloon:nth-child(25)::after {
    border-bottom: 12px solid purple;

}

.balloon:nth-child(26) {
    left: 660px;
    background-color: rgba(245, 160, 227, 0.555);
    animation-duration: 8s;

}
.balloon:nth-child(26)::after {
    border-bottom: 12px solid pink;

}

.balloon:nth-child(27) {
    left: 490px;
    background-color: rgba(51, 44, 70, 0.4591);
    animation-duration: 5s;

}
.balloon:nth-child(27)::after {
    border-bottom: 12px solid black;

}

.balloon:nth-child(28) {
    left: 370px;
    background-color: rgba(137, 192, 92, 0.800);
    animation-duration: 3.2s;

}
.balloon:nth-child(28)::after {
    border-bottom: 12px solid green;

}

.balloon:nth-child(29) {
    left: 1px;
    background-color: rgba(185, 62, 62, 0.8);
    animation-duration: 6.7s;

}
.balloon:nth-child(29)::after {
    border-bottom: 12px solid rgb(128, 0, 0);

}


@keyframes move-up {
    0% {
        top: 100%;
    }
    68% {
        top: 0%;
    }
    100% {
        top: 0%; 
    }
    
}
